
.like-button {
    border: none; 
    cursor: pointer;
    background-image: url('/static/network/heart_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px; height: 20px;
}

.like-button:hover {
    transform: scale(1.1);
}

.like-button:active {
    background-color: red;
    border: none; 
    transform: scale(0.9);
}
